body{
background: rgb(169,143,176);
background: linear-gradient(0deg, rgba(169,143,176,1) 0%, rgba(237,223,230,1) 100%);
}
/*top*/
.first_nav a:hover{
	background-color: #D945AF;

}

/*products*/
.product_area{
	display: inline-block;
	background-color: white;
	width: 25%;
	margin-right: 26px;
	border-radius:8px;
	margin-top:26px;
}
/*top products */
button{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 4px;
	border-radius: 60px;
	border: 1px;
	background-color: #e74c3c;
	padding: 4px;
	width: 24px;
	height: 24px;
}
.link_edit{
	text-decoration: none;
	color: #3498db;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5px;
	padding: 2px;
	border-radius: 20px;
}
.link_edit:hover{
	color: white;
	background-color: #e74c3c;
}
/*info product*/
.cat{
	font-size: 12px;
	color: gray;
}
.name{
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,87);
	margin-bottom: 16px;
}
.last_price{
	font-size: 12px;
	color: gray;
	text-decoration: line-through;
}
.price{
	font-size: 16px;
	color: #A43EE6;
}
.times_price{
	font-size: 12px;
	color: gray;
}

/*colors*/
.dark_purple{
	background-color: #a86c90;
}
